<div class=" content">
    <div class=" row">
        <div class=" col-12">
            <div class=" card">
                <p-progressBar *ngIf="loadingPage" mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
                <p-blockUI [blocked]="loadingPage" [style]="{'z-index': '2'}"></p-blockUI>
                <div class=" card-header">
                    <div class=" col-sm-8 text-left">
                        <h2 class=" card-category">Crear Segmento </h2>
                    </div>
                    <div class=" card-body">
                        <form class="p-grid" [formGroup]="segmentoForm" accept-charset="utf-8">
                            <div class=" row">
                                <div class=" col-md-5">
                                    <div class=" form-group">
                                        <h6>Codigo segmento</h6>

                                        <span class="p-input-icon-right">
                                            <input type="text" pInputText placeholder="Codigo segmento"
                                                class="form-control" formControlName="GRP_CODIGO" oninput="this.value = this.value.toUpperCase()" />
                                            <div *ngIf="segmentoForm.controls['GRP_CODIGO'].invalid &&
                                                segmentoForm.controls['GRP_CODIGO'].touched"
                                                class="alert alert-danger">
                                                <div *ngIf="segmentoForm.controls['GRP_CODIGO'].invalid">
                                                    Codigo segmento es requerido.
                                                </div>
                                            </div>
                                            <div *ngIf="!segmentoForm.controls['GRP_CODIGO'].touched && GRP_CODIGO_REQ "
                                                class="alert alert-danger">
                                                Debe ingresar un Codigo segmento.
                                            </div>
                                        </span>
                                    </div>


                                    <div class=" form-group">
                                        <h6>periocidad</h6>

                                        <p-dropdown [options]="periocidad" placeholder="Seleccione una periocidad"
                                            optionLabel="name" [showClear]="true" formControlName="GRP_PERIOCIDAD">
                                        </p-dropdown>
                                        <div *ngIf="segmentoForm.controls['GRP_PERIOCIDAD'].invalid &&
                                        segmentoForm.controls['GRP_PERIOCIDAD'].touched" class="alert alert-danger">
                                            <div *ngIf="segmentoForm.controls['GRP_PERIOCIDAD'].invalid">
                                                Periocidad es requerido.
                                            </div>
                                        </div>
                                        <div *ngIf="!segmentoForm.controls['GRP_PERIOCIDAD'].touched && GRP_PERIOCIDAD_REQ "
                                            class="alert alert-danger">
                                            Debe ingresar una periocidad.
                                        </div>

                                    </div>
                                    <div class=" form-group">
                                        <h6>Nombre</h6>

                                        <span class="p-input-icon-right">
                                            <input type="text" pInputText placeholder="Nombre"
                                                formControlName="GRP_NOMBRE" oninput="this.value = this.value.toUpperCase()"/>
                                            <div *ngIf="segmentoForm.controls['GRP_NOMBRE'].invalid &&
                                                        segmentoForm.controls['GRP_NOMBRE'].touched"
                                                class="alert alert-danger">
                                                <div *ngIf="segmentoForm.controls['GRP_NOMBRE'].invalid">
                                                    Nombre valido es requerido.
                                                </div>
                                            </div>
                                            <div *ngIf="!segmentoForm.controls['GRP_NOMBRE'].touched && GRP_NOMBRE_REQ "
                                                class="alert alert-danger">
                                                Debe ingresar un Nombre valido.
                                            </div>


                                        </span>
                                    </div>
                                    <div class=" form-group">
                                        <h6>Descripción</h6>

                                        <span class="p-input-icon-right">
                                            <input type="text" pInputText placeholder="Descripción"
                                                formControlName="GRP_DESCRIPCION"  oninput="this.value = this.value.toUpperCase()"/>
                                        </span>

                                        <div *ngIf="segmentoForm.controls['GRP_DESCRIPCION'].invalid &&
                                        segmentoForm.controls['GRP_DESCRIPCION'].touched" class="alert alert-danger">
                                            <div *ngIf="segmentoForm.controls['GRP_DESCRIPCION'].invalid">
                                                Descripción es requerido.
                                            </div>
                                        </div>
                                        <div *ngIf="!segmentoForm.controls['GRP_DESCRIPCION'].touched && GRP_DESCRIPCION_REQ "
                                            class="alert alert-danger">
                                            Debe ingresar una descripción.
                                        </div>

                                    </div>
                                    <div class=" form-group">

                                        <h6>Habilitado</h6>

                                        <p-dropdown [options]="habilitado" placeholder="Habilitado" optionLabel="name"
                                            [showClear]="true" formControlName="GRP_HABILITADO">
                                        </p-dropdown>

                                        <div *ngIf="segmentoForm.controls['GRP_HABILITADO'].invalid &&
                                        segmentoForm.controls['GRP_HABILITADO'].touched" class="alert alert-danger">
                                            <div *ngIf="segmentoForm.controls['GRP_HABILITADO'].invalid">
                                                Habilitado es requerido.
                                            </div>
                                        </div>
                                        <div *ngIf="!segmentoForm.controls['GRP_HABILITADO'].touched && GRP_HABILITADO_REQ "
                                            class="alert alert-danger">
                                            Debe ingresar campo Habilitado.
                                        </div>

                                    </div>
                                    <div class=" form-group">
                                        <h6>Área de negocio</h6>

                                        <span class="p-input-icon-right">
                                            <input type="text" pInputText placeholder="Área de negocio"
                                                formControlName="GRP_AREA_NEGOCIO" oninput="this.value = this.value.toUpperCase()"/>
                                        </span>


                                        <div *ngIf="segmentoForm.controls['GRP_AREA_NEGOCIO'].invalid &&
                                        segmentoForm.controls['GRP_AREA_NEGOCIO'].touched" class="alert alert-danger">
                                            <div *ngIf="segmentoForm.controls['GRP_AREA_NEGOCIO'].invalid">
                                                Area de negocio es requerido.
                                            </div>
                                        </div>
                                        <div *ngIf="!segmentoForm.controls['GRP_AREA_NEGOCIO'].touched && GRP_AREA_NEGOCIO_REQ "
                                            class="alert alert-danger">
                                            Debe ingresar una Area de negocio.
                                        </div>
                                    </div>

                                    <div class=" form-group">
                                        <h6>Vigencia Inicio</h6>
                                        <p-calendar placeholder="Vigencia Inicio" [showIcon]="true" inputId="icon"
                                            formControlName="GRP_VIGENCIA_INICIO">
                                        </p-calendar>
                                    </div>
                                    <div class=" form-group">
                                        <h6>Vigencia Fin</h6>
                                        <p-calendar placeholder="vigencia Fin" [showIcon]="true" inputId="icon"
                                            formControlName="GRP_VIGENCIA_FIN">
                                        </p-calendar>
                                    </div>
                                    <div class=" form-group">
                                        <button pButton type="submit" label="Crear segmento"
                                            (click)="creSegmento()"></button>
                                    </div>
                                </div>
                                <div class=" col-md-7">
                                    <div class=" form-group">
                                        <textarea rows="5" cols="80" placeholder="Esquema valido { }" pInputTextarea
                                            formControlName="GRP_ESQUEMA_VALIDO"></textarea>
                                        <div *ngIf="segmentoForm.controls['GRP_ESQUEMA_VALIDO'].invalid &&
                                            segmentoForm.controls['GRP_ESQUEMA_VALIDO'].touched"
                                            class="alert alert-danger">
                                            <div *ngIf="segmentoForm.controls['GRP_ESQUEMA_VALIDO'].invalid">
                                                Esquema es requerido.
                                            </div>
                                        </div>
                                        <div *ngIf="!segmentoForm.controls['GRP_ESQUEMA_VALIDO'].touched && GRP_ESQUEMA_VALIDO_REQ "
                                            class="alert alert-danger">
                                            Debe ingresar un esquema.
                                        </div>
                                    </div>
                                    <div class=" form-group">
                                        <pre [innerHTML]="segmentoForm.controls['GRP_ESQUEMA_VALIDO'].value | prettyjson: [true, 3]"
                                            cols="80"></pre>

                                    </div>

                                </div>
                            </div>
                        </form>



                    </div>

                </div>
            </div>
        </div>
    </div>