<div class=" content">
  <div class=" row">
    <div class=" col-12">
      <div class=" card card-chart">
        <p-progressBar *ngIf="loadingPage" mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
        <p-blockUI [blocked]="loadingPage" [style]="{'z-index': '2'}"></p-blockUI>
        <div class=" card-header">
          <div class=" row">
            <div class=" col-sm-6 text-left">
              <h5 class=" card-category">Ver logs </h5>
            </div>
            <div class=" card-body">
              <form class="p-grid" [formGroup]="logsForm">
                <div class=" row">
                  <div class=" col-md-5">
                    <div class=" form-group">
                      <h6>Codigo segmento</h6>
                      <span class="p-input-icon-right">
                        <p-dropdown [options]="codigos" placeholder="Seleccione un codigo" optionLabel="name"
                          [showClear]="true" formControlName="GRP_CODIGO"
                          (onChange)="OnChange(logsForm.controls['GRP_CODIGO'].value)">
                        </p-dropdown>
                      </span>
                    </div>

                    <div class=" form-group">
                      
                      <div class=" row">
                        <div class=" col-md-5">
                          <h6>Fecha Inicio</h6>
                          <p-calendar formControlName="FECHALOGS_MIN" placeholder="Fecha inicio" dateFormat="dd-mm-yy"
                            [showIcon]="true"></p-calendar>

                        </div>
                        <div class=" col-md-5">
                          <h6>Fecha Termino</h6>
                          <p-calendar formControlName="FECHALOGS_MAX" placeholder="Fecha termino" dateFormat="dd-mm-yy"
                            [showIcon]="true"></p-calendar>

                        </div>
                      </div>
                    </div>
                    <div class=" form-group">
                      <h6>Usuario</h6>
                      <span class="p-input-icon-right">
                        <input type="text" pInputText placeholder="usuario" formControlName="USUARIOLOGS" />
                      </span>
                    </div>
                    <div class=" form-group">
                      <button pButton type="submit" label="Ver logs" (click)="Viewlog(logsForm.controls)"></button>
                    </div>
                  </div>
                </div>
              </form>
            </div>

            <div class=" card-body">
              <div class=" col-sm-12">

                <p-table #Logs [columns]="LogsCampos" [value]="datasourceLogs" [rowHover]="true" [rows]="10"
                  [showCurrentPageReport]="true" [loading]="loading" [paginator]="true"
                  currentPageReportTemplate="Mostrar {first} hasta  {last} de {totalRecords} datos" [filterDelay]="0"
                  [resizableColumns]="true" [responsive]="true" [autoLayout]="true"
                  [globalFilterFields]="LogsCampos.field" styleClass="tabla" *ngIf="Logsview" sortMode="multiple"
                  [multiSortMeta]="multiSortSegmento" [reorderableColumns]="true">
                  <ng-template pTemplate="caption">
                    <div class="p-d-flex">

                      <button pButton label="Limpiar" class="p-button-outlined" icon="pi pi-filter-slash"
                        (click)="clear(Logs)"></button>
                      <span class="p-input-icon-left p-ml-auto">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="applyFilterGlobalLogst($event, 'contains')"
                          placeholder="Filtrar" />
                      </span>

                    </div>
                  </ng-template>
                  <ng-template pTemplate="header" let-columns>
                    <tr>
                      <th *ngFor="let col of columns">
                        <p-columnFilter type="text" [field]="col.field"></p-columnFilter>
                      </th>
                    </tr>
                    <tr>
                      <th *ngFor="let col of columns" pSortableColumn="{{col.field}}" pReorderableColumn>{{col.field}}
                        <p-sortIcon field="{{col.field}}">
                        </p-sortIcon>
                      </th>

                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr>
                      <td *ngFor="let col of columns">{{rowData[col.field]}}</td>
                  </ng-template>
                </p-table>
              </div>
            </div>

          </div>
        </div>
        <div class=" card-body">
          <div class=" chart-area"><canvas id="chartBig1"> </canvas></div>
        </div>
      </div>
    </div>
  </div>
</div>